<div class="arbron-summons-area">
  <h4>{{localize "ArbronSummoner.SummonsHeader"}}</h4>
  <ol>
    {{#each summons}}
      <li data-index="{{@index}}">
        <span class="arbron-summons-actor-link">{{{this.link}}}</span>
        <input type="text" name="flags.arbron-summoner.summons.{{@index}}.name" value="{{this.name}}"
          data-tooltip="{{localize 'ArbronSummoner.Tooltip.DisplayName'}}">
        <input type="hidden" name="flags.arbron-summoner.summons.{{@index}}.uuid" value="{{this.uuid}}">
        <a class="arbron-summons-delete" data-tooltip="{{localize 'ArbronSummoner.Tooltip.RemoveSummons'}}">
          <i class="fas fa-minus"></i>
        </a>
      </li>
    {{else}}
      <li class="empty">
        {{localize "ArbronSummoner.SummonsHint"}}
      </li>
    {{/each}}
  </ol>
</div>
