<form autocomplete="off">
  <section class="form-body">

    <h3 class="form-header">{{localize "ArbronSummoner.Config.GeneralHeader"}}</h3>
    <div class="form-group">
      <label>{{localize "ArbronSummoner.Config.MatchProficiency"}}</label>
      <input type="checkbox" name="matchProficiency" {{checked matchProficiency}}>
    </div>
    <div class="form-group">
      <label>{{localize "ArbronSummoner.Config.MatchToHit"}}</label>
      <input type="checkbox" name="matchToHit" {{checked matchToHit}}>
    </div>
    <div class="form-group">
      <label>{{localize "ArbronSummoner.Config.MatchSaveDCs"}}</label>
      <input type="checkbox" name="matchSaveDCs" {{checked matchSaveDCs}}>
    </div>
    <div class="form-group">
      <label>{{localize "ArbronSummoner.Config.FormulaAC"}}</label>
      <div class="form-fields">
        <input type="text" name="acFormula" value="{{acFormula}}">
      </div>
      <p class="hint">{{localize "ArbronSummoner.Config.FormulaACHint"}}</p>
    </div>
    <div class="form-group">
      <label>{{localize "ArbronSummoner.Config.FormulaHP"}}</label>
      <div class="form-fields">
        <input type="text" name="hpFormula" value="{{hpFormula}}">
      </div>
    </div>

    <h3 class="form-header">{{localize "ArbronSummoner.Config.ActorChangesHeader"}}</h3>
    <p class="hint">{{localize "ArbronSummoner.Config.ActorChangesHint"}}</p>
    <header class="flexrow">
      <div class="key">{{localize "EFFECT.ChangeKey"}}</div>
      <div class="value">{{localize "EFFECT.ChangeValue"}}</div>
      <div class="controls">
        <a data-action="add-actor-change" data-tooltip="{{localize 'ArbronSummoner.Config.AddChange'}}">
          <i class="far fa-plus-square"></i>
        </a>
      </div>
    </header>
    <ol class="actor-changes-list">
      {{#each actorChanges}}
        <li class="effect-change flexrow">
          <div class="key">
            <input type="text" name="actorChanges.{{@index}}.key" value="{{this.key}}">
          </div>
          <div class="value">
            <input type="text" name="actorChanges.{{@index}}.value" value="{{this.value}}">
          </div>
          <div class="controls">
            <a data-action="delete-actor-change" data-index="{{@index}}" data-tooltip="{{localize 'Delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
      {{/each}}
    </ol>

  </section>
  <footer class="form-footer flexrow">
    <button type="submit" name="submit">
      <i class="far fa-save"></i> {{localize "Update"}}
    </button>
    <button type="button" name="reset">
      <i class="fas fa-undo"></i> {{localize "Reset Changes"}}
    </button>
  </footer>
</form>
